@font-face {
    font-family: 'fontRegular';
    src: url('./fonts/Epilogue/Epilogue-Regular.ttf');
}

@font-face {
    font-family: 'fontMedium';
    src: url('./fonts/Epilogue/Epilogue-Medium.ttf');
}

@font-face {
    font-family: 'fontLight';
    src: url('./fonts/Epilogue/Epilogue-Light.ttf');
}

@font-face {
    font-family: 'fontBold';
    src: url('./fonts/Epilogue/Epilogue-Bold.ttf');
}

@font-face {
    font-family: 'fontTitles';
    src: url('./fonts/AnekLatin/AnekLatin-Bold.ttf');
}

.fontRegular,
.font-regular {
    font-family: "fontRegular";
}

.fontMedium,
.font-medium {
    font-family: "fontMedium";
}

.fontLight,
.font-light {
    font-family: "fontLight";
}

.fontBold,
.font-bold {
    font-family: "fontBold";
}

.fontTitles {
    font-family: "fontTitles";
}