header {
    @apply bg-main-dark text-center shadow-xl;
    background-image: url('/images/gradientBGv1.png');
    background-position: top top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}